.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabeca {
    display: flex;
    gap: 80px;


}

.cabeca_link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    font-size: 24px;
    color: #22d4fd;
    text-decoration: none;
}
.rodape {
    color: black;
    background-color: #22D4FD;
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    font-weight: 600px;
    padding: 10px;
    text-align: center;
}